@model Wellness_USC.Models.Clase

@{

    ViewData["Title"] = "Detalles Clase";

}
<link rel="stylesheet" href="~/css/clases.css" />
<div class="container mt-5">

    <h1 class="text-center">Detalles del Curso</h1>
    <hr />

    <div class="row">
        <div class="col-md-6">
            <h2 class="text-center">@Html.DisplayFor(model => model.Name)</h2>
            <div class="row">
                <div class="col-6">
                    <div class="my-5">@Html.DisplayNameFor(model => model.Curso.Name): <span class="lead">
                            @Html.DisplayFor(model => model.Curso.Name)</span> </div>

                    <div class="my-5">@Html.DisplayNameFor(model => model.StartDate) <br> <span
                            class="lead">@Html.DisplayFor(model
                                                            => model.StartDate)</span>
                    </div>
                    <div class="my-5"> @Html.DisplayNameFor(model => model.StartHour) <br> <span class="lead"> @Html.DisplayFor(model
                                                                                                                     => model.StartHour)</span>
                    </div>
                    
                </div>
                <div class="col-6">
                    <div class="my-5">@Html.DisplayNameFor(model => model.Quantity): <span class="lead">@Html.DisplayFor(model =>
                                                                                                          model.Quantity)</span> </div>


                    <div class="my-5">@Html.DisplayNameFor(model => model.FinishDate) <br> <span class="lead">@Html.DisplayFor(model
                                                                                                                    => model.FinishDate)</span>
                    </div>
                    <div class="my-5">@Html.DisplayNameFor(model => model.EndHour) <br> <span class="lead">@Html.DisplayFor(model
                                                                                                                 => model.EndHour)</span>
                    </div>
                </div>
                <a asp-controller="Registros" asp-action="Registrar" asp-route-id="@Model.ClaseId" class="btn btn-usc w-100 mt-5 h-100 p-5">Inscribirse</a>
            </div>
        </div>
        <div class="col-md-6 clase mt-5">
            <img src="@("~/assets/images/courses/"+Model.Curso.ImageName)" asp-append-version="true"
                class="clase-image" />
            <div class="clase-content-2">
                <div class="clase-profesor pb-5">
                    <div class="clase-profesor-image-2">
                        <img src="@("~/assets/images/profesores/"+Model.Profesor.ImageName)"
                            asp-append-version="true" />
                    </div>
                    <div class="clase-profesor-name">
                        @Html.DisplayFor(modelItem => Model.Profesor.FullName)
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div>
        <a asp-action="Index">Volver a la Lista</a>
    </div>

</div>
