@model Wellness_USC.Models.Clase

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Clase</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.cantidad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.cantidad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Type)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Type)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Courses)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Courses.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Horarios)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Horarios.Id_Horario)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Profesoress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Profesoress.Id_Profesores)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id_Clase">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
