@model IEnumerable<Wellness_USC.Models.Clase>

@{

    ViewData["Title"] = "Clases";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<div class="container">

</div>

@foreach (var item in Model)















{



    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Quantity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StartDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FinishDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StartHour)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EndHour)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Curso.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Profesor.FirstName)
        </td>
        <td>
            <a asp-action="Edit" asp-route-id="@item.ClaseId">Edit</a> |
            <a asp-action="Details" asp-route-id="@item.ClaseId">Details</a> |
            <a asp-action="Delete" asp-route-id="@item.ClaseId">Delete</a>
        </td>
    </tr>

}