@model IEnumerable<Wellness_USC.Models.Clase>
@using Microsoft.AspNetCore.Identity
@using Wellness_USC.Areas.Identity.Data
@inject SignInManager<ApplicationUser> SignInManager

@{ ViewData["Title"] = "Clases"; }

<link rel="stylesheet" href="~/css/clases.css" />

<div class="container mt-5">
    <h1 class="text-center">Clases</h1>
    @if (SignInManager.IsSignedIn(User))
    {
        @if (User.IsInRole("administrador") || User.IsInRole("profesor"))
        {
            <div class="create">
                <a class="btn btn-usc" asp-action="Create">Crear Clase</a>
            </div>
        }
    }
<div class="row pt-5">

    @foreach (var item in Model)
    {
        <div class="col-12 col-md-4 col-lg-3">
            <div class="clase ">
                <img src="@("~/assets/images/courses/"+item.Curso.ImageName)" class="clase-image" asp-append-version="true"/>
                <div class="clase-content">
                    <h2 class="clase-name">
                        @Html.DisplayFor(modelItem => item.Name)
                    </h2>
                    <div class="clase-profesor">
                        <div class="clase-profesor-image">
                            <img src="@("~/assets/images/profesores/"+item.Profesor.ImageName)"  asp-append-version="true"/>
                        </div>
                        <div class="clase-profesor-name">
                            @Html.DisplayFor(modelItem => item.Profesor.FullName)
                        </div>
                    </div>
                </div>
            </div>
            <a asp-action="Details" asp-route-id="@item.ClaseId" class="btn btn-usc w-100 mt-2">Detalles</a>
            @if (SignInManager.IsSignedIn(User))
    {
        @if (User.IsInRole("administrador") || User.IsInRole("profesor"))
        {
            <div class="w-100 d-flex justify-content-between mt-3">
        <a asp-action="Edit" asp-route-id="@item.ClaseId" class="btn btn-usc">Editar</a> 
       
        <a asp-action="Delete" asp-route-id="@item.ClaseId" class="btn btn-danger">Eliminar</a>
        </div>
        }
    }
            
            
        </div>
    
}
</div>
</div>
