@model Wellness_USC.Models.Curso

@{

    ViewData["Title"] = "Eliminar Curso";
}
<div class="container mt-5">

    <h1 class="text-center">Eliminar Curso</h1>
    <hr>
    <h3 class="text-center">¿Estas seguro que deseas eliminar este curso?</h3>

    <hr />
    <div class="row">
        <div class="col-12 col-md-6">
            <img src="@("~/assets/images/courses/"+Model.ImageName)" asp-append-version="true" class="course-image"
                width="100%" height="100%" style="border-radius: 10px;" />
        </div>
        <div class="col-12 col-md-6 mt-3">
            <div>
                <h2>@Html.DisplayNameFor(model => model.Name)</h2>
                <h2 class="lead">@Html.DisplayFor(model => model.Name)</h2>
            </div>
            <div>
                <h2>@Html.DisplayNameFor(model => model.Type)</h2>
                <h2 class="lead">@Html.DisplayFor(model => model.Type)</h2>
            </div>
            <form asp-action="Delete">
                <input type="hidden" asp-for="CursoId" />
                <input type="submit" value="Eliminar Curso" class="btn btn-danger w-100 p-5" />
                <a asp-action="Index">Volver a la Lista</a>
            </form>
        </div>
    </div>




</div>