@model Wellness_USC.Models.Curso
@using Microsoft.AspNetCore.Identity
@using Wellness_USC.Areas.Identity.Data
@inject SignInManager<ApplicationUser> SignInManager

@{

    ViewData["Title"] = "Detalles Curso";
}

<div class="container mt-5">

    <h1 class="text-center">Detalles de Curso</h1>
    <hr>
    <div class="row">
        <div class="col-12 col-md-6">
            <img src="@("~/assets/images/courses/"+Model.ImageName)" asp-append-version="true" class="course-image"
                width="100%" height="100%" style="border-radius: 10px;" />
        </div>
        <div class="col-12 col-md-6 mt-3">
            <div>
                <h2>@Html.DisplayNameFor(model => model.Name)</h2>
                <h2 class="lead">@Html.DisplayFor(model => model.Name)</h2>
            </div>
            <div>
                <h2>@Html.DisplayNameFor(model => model.Type)</h2>
                <h2 class="lead">@Html.DisplayFor(model => model.Type)</h2>
            </div>
    @if(SignInManager.IsSignedIn(User)){
        @if(User.IsInRole("administrador") || User.IsInRole("profesor")){
            <div>
                <a asp-action="Edit" asp-route-id="@Model.CursoId" class="btn btn-usc w-100">Editar</a>
                <a asp-action="Delete" asp-route-id="@Model.CursoId" class="btn btn-danger w-100">Eliminar</a>
            </div>
        }
    }
            
            <div>
                <a asp-action="Index">Volver a la Lista</a>
            </div>
        </div>
    </div>
</div>
