@model IEnumerable<Wellness_USC.Models.Curso>

@{

    ViewData["Title"] = "Cursos";
}

<link rel="stylesheet" href="~/css/courses.css" />

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<div class="Curso py-5">
    <div class="container">
        <div class="row">
            @foreach (var item in Model)
            {
                <a class="col-sm-6 col-md-4 col-xl-3 course" asp-action="Details" asp-route-id="@item.CursoId">
                    <img src="@("~/assets/images/courses/"+item.ImageName)" asp-append-version="true" class="course-image"
                        width="100%" height="100%" />
                    <h2 class="text-light course-name">
                        @Html.DisplayFor(modelItem => item.Name)
                    </h2>

                    <!--
                      <td>
                                    <a asp-action="Edit" asp-route-id="@item.CursoId">Edit</a> |
                                    <a asp-action="Details" asp-route-id="@item.CursoId">Details</a> |
                                    <a asp-action="Delete" asp-route-id="@item.CursoId">Delete</a>
                                </td>
                               -->

                </a>
            }
            </div>
        </div>
    </div>
