@model Wellness_USC.Models.Profesor

@{

    ViewData["Title"] = "Eliminar Profesor";
}

<div class="container mt-5">

    <h1 class="text-center">Eliminar Profesor</h1>

    <h3 class="text-center">¿Seguro que deseas Eliminar a Este Profesor?</h3>


    <hr />
    <div class="row">
        <div class="col-md-6">
            <img src="@("~/assets/images/profesores/"+Model.ImageName)" asp-append-version="true" alt="" width="100%"
                height="100%">
        </div>
        <div class="col-md-6 mt-3">
            <h4 class="text-bold text-center">Profesor</h4>
            <hr />
            <dl class="row">
                <dt class="col-sm-6">
                    @Html.DisplayNameFor(model => model.FirstName)
                </dt>
                <dd class="col-sm-6">
                    @Html.DisplayFor(model => model.FirstName)
                </dd>
                <dt class="col-sm-6">
                    @Html.DisplayNameFor(model => model.LastName)
                </dt>
                <dd class="col-sm-6">
                    @Html.DisplayFor(model => model.LastName)
                </dd>
                <dt class="col-sm-6">
                    @Html.DisplayNameFor(model => model.FullName)
                </dt>
                <dd class="col-sm-6">
                    @Html.DisplayFor(model => model.FullName)
                </dd>
                <form asp-action="Delete" class="col-12">
                    <input type="hidden" asp-for="ProfesorId" />
                    <input type="submit" value="Eliminar Profesor" class="btn btn-danger w-100 p-5" />
                    <a asp-action="Index"></a>
                </form>

            </dl>


            <a asp-action="Index">Volver a la Lista</a>
        </div>
    </div>



</div>
