@model IEnumerable<Wellness_USC.Models.Profesor>

@{

    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<div class="container">
    <div class="row">
        @foreach (var item in Model)

        {
            <div class="col-sm-6">
                <div class="profesor">
                    <div class="profesor-image">
                        <img src="@("~/assets/images/profesores/"+item.ImageName)" alt="">
                    </div>
                    <div class="profesor-name">@Html.DisplayFor(modelItem => item.FullName)</div>
                </div>
            </div>
            <a asp-action="Edit" asp-route-id="@item.ProfesorId">Edit</a> |
            <a asp-action="Details" asp-route-id="@item.ProfesorId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ProfesorId">Delete</a>
                }
        </div>
    </div>
