@model IEnumerable<Wellness_USC.Models.Profesor>

@{

    ViewData["Title"] = "Profesores";
}

<link rel="stylesheet" href="~/css/profesores.css" />


<div class="container mt-5">
    <h1 class="text-center">Profesores</h1>

    <div class="create">
        <a class="btn" asp-action="Create">Crear Profesor</a>
    </div>
    <div class="row">
        @foreach (var item in Model)

        {
            <div class="col-sm-6">
                <div class="profesor">
                    <div class="profesor-image">
                        <img src="@("~/assets/images/profesores/"+item.ImageName)" asp-append-version="true" alt=""
                            width="100px" height="100px">
                    </div>
                    <div class="profesor-name">
                        <span>@Html.DisplayFor(modelItem => item.FullName)</span>
                        <div class="profesor-options">
                            <a class="btn text-light" asp-action="Edit" asp-route-id="@item.ProfesorId">Edit</a>
                            <a class="btn text-light" asp-action="Details" asp-route-id="@item.ProfesorId">Details</a>
                            <a class="btn text-light" asp-action="Delete" asp-route-id="@item.ProfesorId">Delete</a>
                        </div>

                    </div>
                </div>


            </div>

        }
    </div>
</div>
